body {
    margin: 0;
    padding: 0;
    min-height: 100dvh; 
    gap: 40px;
}

#forgot-password-main {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.auth-container {
    background-color: var(--bg-card);
    padding: 40px;
    border-radius: 12px;
    box-shadow: 0 10px 30px rgba(85, 34, 166, 0.18);
    overflow-y: auto;
}

@media (max-width: 900px) {
    body {
        display: flex;
        min-height: 100vh;
        margin: 0;
        flex-direction: column;
    }

    #forgot-password-main {
        height: auto;
        flex-grow: 1; 
    }
}