#forgot-password-main {
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (max-width: 900px) {
    body {
        display: flex;
        min-height: 100vh;
        margin: 0;
        flex-direction: column;
    }

    #forgot-password-main {
        height: auto;
        flex-grow: 1; 
    }
}