body {
    margin: 0;
    padding: 0;
    min-height: 100dvh; 
    gap: 40px;
}

#forgot-password-main {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.auth-container {
    background-color: var(--bg-card);
    padding: 40px;
    border-radius: 12px;
    box-shadow: 0 10px 30px rgba(85, 34, 166, 0.18);
    overflow-y: auto;
}



.account-not-found {
    background-color: var(--bg-card);
    padding: 40px;
    border-radius: 12px;
    box-shadow: 0 10px 30px rgba(85, 34, 166, 0.18);
    max-width: 75vw;
    max-height: 65vh;
    overflow-y: auto;
    text-align: center;
}

.not-found-links {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 15px;
}

.try-again, .try-again a {
    font-family: var(--main-font);
    background-color: var(--iris-purple);
    color: var(--text-header);
    border: 5px solid var(--text-header); 
    padding: 10px 28px;
    border-radius: 8px;
    text-decoration: none;
    font-weight: 700;
    display: inline-block;
    transition: background-color 0.2s ease, color 0.2s ease;
}

.try-again:hover, .try-again:hover a {
    background-color: var(--text-header); 
    color: var(--iris-purple); 
    border: 5px solid var(--iris-purple);
}

@media (max-width: 900px) {
    body {
        display: flex;
        min-height: 100vh;
        margin: 0;
        flex-direction: column;
    }

    #forgot-password-main {
        height: auto;
        flex-grow: 1; 
    }
}