body {
    margin: 0;
    padding: 0;
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    font-family: 'Atkinson Hyperlegible', arial, sans-serif;
    background-color: #FAFAFA;
    color: #1a1a1a;
}

header {
    display: flex;
    background-color: #FAFAFA;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    border-bottom: 2px solid #eae2f0
}

.header-left {
    display: flex;
    align-items: center;
    gap: 15px;
}

.header-left h1 {
    font-size: 1.25rem;
    font-weight: 500;
    color: #1A202C;
    margin: 0;
}

.header-left img {
    height: 40px;
    width: auto;
    display: block;
}

footer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto auto;
    align-items: center; 

    background-color: #FAFAFA;
    padding: 20px 40px;
    border-top: 2px solid #E2E8F0;
    margin-top: auto;

    grid-template-areas: 
    "top email phone insta"
    "top copy  legal legal";
}

.back-to-top   { grid-area: top; }
.footer-email  { grid-area: email; }
.footer-phone  { grid-area: phone; }
.footer-insta  { grid-area: insta; }
.copyright     { grid-area: copy; }
.legal-links   { grid-area: legal; }

main {
    display: flex;
    flex: 1;
    height: 0;
}

.info-section {
    flex: 1;
    max-width: 400px;
    overflow-y: auto;
    border-right: 2px solid #E2E8F0; 
    padding: 40px;
}

.main-page {
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 40px;
    overflow: hidden;
}


/* .container {
    max-width: 900px;
    margin: 0 auto;
    text-align: center;
}
.logo-placeholder {
    font-size: 80px;
    margin-bottom: 20px;
}
h1 {
    font-size: 70px;
    color: #3a2c50;
    margin-bottom: 10px;
}
p {
    font-size: 35px;
    line-height: 1.6;
    color: #4a4a4a;
    margin-bottom: 40px;
}
.btn {
    display: inline-block;
    background-color: #f0e3fd;
    color: #6d0da1;
    font-size: 40px;
    font-weight: bold;
    padding: 25px 60px;
    border: 3px solid #6d0da1;
    border-radius: 20px;
    text-decoration: none;
} */