<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Iris - Home</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/iris-circle-icon.png') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/global.css') }}">    
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">    
    <script src="{{ url_for('static', filename='js/global.js') }}" defer></script>
</head>
<body>

<header>
    <div class="header-left">
        <a href="#">
            <img class="iris-logo" src="{{ url_for('static', filename='images/iris-circle-icon.png') }}" alt="iris logo">
        </a>
        <h1 class="header-name">
            <span class="brand-name">Iris</span>
            <span class="divider" aria-hidden="true">|</span>
            <span class="header-tagline">Making digital forms accessible to everyone</span>
        </h1>
    </div>

    <nav class="header-nav">
        <button aria-hidden="true"type="button" class="btn-tts">
            <span class="long-text">Listen 🔊</span>
            <span class="short-text">🔊</span>
        </button>
        <a href="{{ url_for('main.story') }}">
            <span class="long-text">Our story</span>
            <span class="short-text" aria-hidden="true">Story</span>
        </a>
        <a href="{{ url_for('auth.login') }}">Login</a>
    </nav>
</header>

<main id="homepage-main">
    <section class="info-section">
        <section class="about-iris">
            <h2>About Iris</h2>
            <p>This is Iris, named after the part of the eye that controls how much light enters the eye. Our goal is simple: to make filling out online forms less of a headache for the visually impaired.</p>
            <p>Iris transforms static form filling into an accessible, guided workflow. Simply upload your document, interact with clearly organized form fields, and listen back to your input with built-in text-to-speech before saving your completed file.</p>
            <p>Iris is a simple, easy-to-use tool to make your life a little easier. You can try Iris by clicking the “Get Started” button on the right. I can’t wait to see how Iris helps your digital confidence bloom!</p>
            <p>If you have any questions or suggestions, contact us through the <a href="{{ url_for('main.contact') }}">contact form</a> or email us at <a href="mailto:contact@irisforms.org">contact@irisforms.org</a>. Don’t hesitate to reach out; we’d love to hear from you!</p>
        </section>
        <hr>
        <section class="whats-next">
            <h2>What's Next for Iris</h2>
            <p>We’re constantly improving Iris to make form filling even more effortless. Here is a preview of what’s coming next:</p>
            <ul>
                <li><strong>Form Autofill:</strong> Securely saved user profiles that automatically pre-fill recurring fields—like name, address, and contact details—upon upload.</li>
                <li><strong>Document Renaming:</strong> Flexible PDF customization, allowing you to rename your files directly within the app after uploading.</li>
                <li><strong>Visual Accessibility Themes:</strong> Personalized display settings that let users customize font styles, text sizes, and color contrast modes on their dashboard.</li>
                <li><strong>Flat PDF Parsing:</strong> Improved handling of flat PDFs for better compatibility.</li>
                <li><strong>Other Accessibility:</strong> Other accessibility features based on user feedback.</li>
            </ul>
            <p>We’re always looking for ways to improve Iris. If you have any suggestions, please don’t hesitate to reach out!</p>
            <p> 
                Catch the light,<br>
                Gittel Rosenblatt, <span aria-hidden="true">&lt;3</span><br>
                Founder
            </p>
        </section>
    </section>
    <section class="main-page">
        <section class="get-started">
            <h1>Welcome to Iris</h1>
            <p>A simple, accessible form assistant designed to make paperwork stress-free.</p>
            <a href="{{ url_for('auth.login') }}" class="btn">Get Started</a>
        </section>
        <section class="mission-statement">
            <h1>Our Mission</h1>
            <p>Our mission is simple: to make navigating essential online spaces equitable, independent, and seamless for the visually impaired.</p>
            <p>You can learn more about us by visiting <a href="{{ url_for('main.contact') }}">our FAQs page</a> and <a href="{{ url_for('main.story') }}">our story page</a>.</p>
        </section>
    </section>
</main>

<footer>
    <div>
        <a id="back-to-top" href="#">↑</a>
    </div> 

    <div class="footer-text">
        <div class="copyright">
            <p style="margin: 0;">&copy; 2026 Iris. All Rights Reserved.</p>
        </div>

        <nav class="footer-nav">
            <a href="{{ url_for('main.terms') }}">
                <span class="long-text">Terms of Service</span>
                <span class="short-text" aria-hidden="true">Terms</span>
            </a>
            <a href="{{ url_for('main.privacy') }}">
                <span class="long-text">Privacy Policy</span>
                <span class="short-text" aria-hidden="true">Privacy</span>
            </a>
            <a href="{{ url_for('main.contact') }}">
                <span class="long-text">Contact us & FAQs</span>
                <span class="short-text" aria-hidden="true">Contact</span>
            </a>
            <a href="{{ url_for('main.story') }}">
                <span class="long-text">Our story</span>
                <span class="short-text" aria-hidden="true">Story</span>  
            </a>
        </nav>
    </div>
</footer>

</body>
</html>