<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Iris - Home</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/global.css') }}">    
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">    
    <script src="{{ url_for('static', filename='js/global.js') }}" defer></script>
</head>
<body>

<header>
    <div class="header-left">
        <a href="#">
            <img class="iris-logo" src="{{ url_for('static', filename='images/iris-circle-icon.png') }}" alt="iris logo">
        </a>
        <h1 class="header-name">
            <span class="brand-name">Iris</span>
            <span class="divider">|</span>
            <span class="header-tagline">Lighting up the digital world</span>
        </h1>
    </div>

    <nav class="header-nav">
        <a href="{{ url_for('story') }}">
            <span class="long-text">Our story</span>
            <span class="short-text">Story</span>
        </a>
        <a href="{{ url_for('login') }}">Login</a>
    </nav>
</header>

<main id="homepage-main">
    <section class="info-section">
        <section class="about-iris">
            <h2>About Iris</h2>
            <p>This is Iris, named after the part of the eye responsible for controlling the amount of light entering the eye. Our goal is simple: to make filling out online forms less of a headache for the visually impaired.</p>
            <p>When you create an account with Iris, you enter basic information about yourself, such as your full name and email. Then, when you upload a form to fill out, Iris automatically fills in the appropriate blanks with your information. Then Iris goes through with you and helps you fill out the remaining blanks. One more once-over with text-to-speech, and your form is ready for download.</p>
            <p>Iris is a simple, easy-to-use tool to make your life a little easier. You can try Iris by clicking the “Get Started” button on the right. I can’t wait to see how Iris helps your digital confidence bloom.</p>
            <p>If you have any questions or suggestions, my contact information is in the footer. Don’t hesitate to send me an email, DM me on Instagram, or leave a message.</p>
            <p>
                Catch the light,<br>
                Gittel Rosenblatt &lt;3
            </p>
        </section>
        <hr>
        <section class="iris-founder">
            <h2>About Iris's Founder</h2>
            <p>To be completely honest with you, I don’t know how to start this, so why don’t we just try…</p>
            <p>Hiiiiii, my name is Gittel Rosenblatt, and I am the founder of Iris. Iris was (is?) my project for the Congressional App Challenge in Florida.</p>
            <p>I’ve been learning to code on and off for around a year. This project taught me a lot about web design, Python (specifically Flask), JavaScript, and how to take a project from an idea to reality. This past summer, I participated in the Girls Who Code Pathways program, and I think it’s safe to say their web development coursework helped me immensely in bringing Iris to life.</p>
            <p>In my free time, I love reading basically every genre and writing stories. I am the second oldest of six, and I have four brothers and one sister. We also have two cats, Telemachus and Penelope, so it’s safe to say our house is <em>loud</em>.</p>
            <p>If you have any questions or suggestions about Iris, don’t hesitate to reach out!</p>
            <p>
                Catch the light,<br>
                Gittel Rosenblatt &lt;3
            </p>
        </section>
    </section>
    <section class="main-page">
        <section class="get-started">
            <h1>Welcome to Iris</h1>
            <p>A simple, accessible form assistant designed to make paperwork stress-free.</p>
            <a href="{{ url_for('login') }}" class="btn">Get Started</a>
        </section>
        <section class="mission-statement">
            <h1>Our Mission</h1>
            <p>Our mission is simple: to make navigating essential online spaces equitable, independent, and seamless for the visually impaired.</p>
            <p>You can learn more about us by visiting <a href="{{ url_for('contact') }}">our FAQs page</a> and <a href="{{ url_for('contact') }}">our story page</a>.</p>
        </section>
    </section>
</main>

<footer>
    <div>
        <a id="back-to-top" href="#">↑</a>
    </div> 

    <div class="footer-text">
        <div class="copyright">
            <p>&copy; 2026 Iris. All Rights Reserved.</p>
        </div>

        <nav class="footer-nav">
            <a href="{{ url_for('terms') }}">
                <span class="long-text">Terms of Service</span>
                <span class="short-text">Terms</span>
            </a>
            <a href="{{ url_for('privacy') }}">
                <span class="long-text">Privacy Policy</span>
                <span class="short-text">Privacy</span>
            </a>
            <a href="{{ url_for('contact') }}">
                <span class="long-text">Contact us & FAQs</span>
                <span class="short-text">Contact</span>
            </a>
            <a href="{{ url_for('story') }}">
                <span class="long-text">Our story</span>
                <span class="short-text">Story</span>  
            </a>
        </nav>
    </div>
</footer>

</body>
</html>