<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Iris - Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/global.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}"> 
    <script src="{{ url_for('static', filename='js/global.js') }}" defer></script>
    <script src="{{ url_for('static', filename='js/auth.js') }}" defer></script>
</head>
<body>
    
<header>
    <div class="header-left">
        <a href="{{ url_for('home') }}">
            <img class="iris-logo" src="{{ url_for('static', filename='images/iris-circle-icon.png') }}" alt="iris logo">
        </a>
        <h1 class="header-name">
            <span class="brand-name">Iris</span>
            <span class="divider" aria-hidden="true">|</span>
            <span class="header-tagline">Lighting up the digital world</span>
        </h1>
    </div>

    <nav class="header-nav">
        <button aria-hidden="true"type="button" class="btn-tts">Listen 🔊</button>
        <a href="{{ url_for('story') }}">
            <span class="long-text">Our story</span>
            <span class="short-text" aria-hidden="true">Story</span>
        </a>
        <a href="{{ url_for('login') }}">Login</a>
    </nav>
</header>

<main id="login-main">
    <div class="login-container">
        <section class="login">
            <h2>Welcome back <span aria-hidden="true">&lt;3</span></h2>
            <p>Login here. Please enter your details.</p>
            <form class="form" action="/login-endpoint" method="POST">
                <div class="form-group">
                    <label for="username">Username:</label>
                    <input 
                    type="text" 
                    id="username" 
                    name="username" 
                    autocomplete="username"
                    placeholder="Enter your username" 
                    required
                    >
                </div>

                <div class="form-group">
                    <label for="password">Password:</label>
                    <input 
                    type="password" 
                    id="password" 
                    name="password" 
                    autocomplete="current-password"
                    placeholder="Enter your password" 
                    required
                    >
                    <button type="button" id="toggle-login-pass">Show</button>
                </div>

                <a href="{{ url_for('forgot_password') }}" id="forgot-password">Forgot password? Reset it here.</a>

                <button type="submit">Log in</button>
            </form>
            <p class="toggle-text">
                Don't have an account? 
                <button type="button" id="switch-to-signup" class="link-btn">Sign up here</button>
            </p>
        </section>
    
        <section class="signup">
            <h2>We're happy to have you <span aria-hidden="true">&lt;3</span></h2>
            <p>Sign up here. Please choose your details.</p>
            <form class="form" action="/signup-endpoint" method="POST">
                <div class="form-group">
                    <label for="choose-username">Username:</label>
                    <input 
                    type="text" 
                    id="choose-username" 
                    name="username" 
                    autocomplete="username"
                    placeholder="Enter your username" 
                    required
                    >
                </div>

                <div class="form-group">
                    <label for="password">Password:</label>
                    <input 
                    type="password" 
                    id="choose-password" 
                    name="password" 
                    autocomplete="current-password"
                    placeholder="Enter your password" 
                    required
                    >
                    <button type="button" id="toggle-signup-pass">Show</button>
                </div>

                <div class="form-group">
                    <label for="password">Confirm password:</label>
                    <input 
                    type="password" 
                    id="confirm-password" 
                    name="password" 
                    autocomplete="current-password"
                    placeholder="Confirm your password" 
                    required
                    >
                    <button type="button" id="toggle-confirm-pass">Show</button>
                </div>

                <div class="form-group">
                    <label for="security-question">Security Question:</label>
                    <select id="security-question" class="select" name="security_question" required>
                        <option value="" disabled selected>Select a security question...</option>
                        <option value="pet">What was the name of your first pet?</option>
                        <option value="maiden">What is your mother's maiden name?</option>
                        <option value="city">In what city were you born?</option>
                        <option value="school">What was the name of your elementary school?</option>
                        <option value="car">What was the make and model of your first car?</option>
                        <option value="street">What is the name of the street you grew up on?</option>
                    </select>
                </div>

                <div class="form-group">
                    <label for="security-answer">Answer:</label>
                    <input type="text" id="security-answer" name="security_answer" placeholder="Your answer" required>
                </div>

                <button type="submit">Sign up</button>
            </form>
            <p class="toggle-text">
                Already have an account? 
                <button type="button" id="switch-to-login" class="link-btn">Log in here</button>
            </p>
        </section>

        <section class="login-image">
            <img src="{{ url_for('static', filename='images/iris-flower.jpg') }}" alt="Image of iris flowers">
        </section>
    </div>
</main>

<footer>
    <div>
        <a id="back-to-top" href="#">↑</a>
    </div> 

    <div class="footer-text">
        <div class="copyright">
            <p style="margin: 0;">&copy; 2026 Iris. All Rights Reserved.</p>
        </div>

        <nav class="footer-nav">
            <a href="{{ url_for('terms') }}">
                <span class="long-text">Terms of Service</span>
                <span class="short-text" aria-hidden="true">Terms</span>
            </a>
            <a href="{{ url_for('privacy') }}">
                <span class="long-text">Privacy Policy</span>
                <span class="short-text" aria-hidden="true">Privacy</span>
            </a>
            <a href="{{ url_for('contact') }}">
                <span class="long-text">Contact us & FAQs</span>
                <span class="short-text" aria-hidden="true">Contact</span>
            </a>
            <a href="{{ url_for('story') }}">
                <span class="long-text">Our story</span>
                <span class="short-text" aria-hidden="true">Story</span>  
            </a>
        </nav>
    </div>
</footer>

</body>
</html>