<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Iris - Privacy Policy</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">    
</head>
<body>
    
<header>
    <div class="header-left">
        <a href="#">
            <img src="{{ url_for('static', filename='images/iris-circle-icon.png') }}" alt="iris logo">
        </a>
        <h1>Iris: Lighting up the digital world</h1>
    </div>

    <nav class="header-nav">
        <a href="{{ url_for('story') }}"><img src="{{ url_for('static', filename='images/story-icon.png') }}" alt="book image">Our Story</a>
        <a href="{{ url_for('login') }}">Log in</a>
    </nav>
</header>

<main>
    <section class="privacy">
        <h2>Privacy Policy</h2>
        <p>Privacy policy will go there but until then...</p>
        <p>Loreum ipsum i love fake lorem ipsum especially cuz i cant spell any of it lmfao</p>
        <p>la la la la la fillign space any way I can laaaaa dfsgksbfibsdibdbvdhvbhdbvhdbshvsvsvsdvassadsvsdafvadviugifogdsuyvgsdouyagvdvdhsadohvdsdvsdaeqrregbefreferero</p>
        <p>lowkenuinely fun af :heart i don't remember how to do the less than sign :sob and im not looking up emojis so... </p>
    </section>
</main>

<footer>
    <p>&copy; 2026 Iris. All Rights Reserved.</p>
    <a href="{{ url_for('terms') }}">Terms of Service</a>
    <a href="{{ url_for('privacy') }}">Privacy Policy</a>
    <a href="{{ url_for('contact') }}">Contact Us</a>
</footer>

</body>
</html>