<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Iris - Our Story</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/global.css') }}">    
    <link rel="stylesheet" href="{{ url_for('static', filename='css/story.css') }}">    
</head>
<body>

<header>
    <div class="header-left">
        <a href="{{ url_for('home') }}">
            <img src="{{ url_for('static', filename='images/iris-circle-icon.png') }}" alt="iris logo">
        </a>
        <h1 class="header-name">
            <span class="brand-name">Iris</span>
            <span class="divider">|</span>
            <span class="header-tagline">Lighting up the digital world</span>
        </h1>
    </div>

    <nav class="header-nav">
        <a href="{{ url_for('story') }}">
            <span class="long-text">Our story</span>
            <span class="short-text">Story</span>
        </a>
        <a href="{{ url_for('login') }}">Login</a>
    </nav>
</header>

<main id="story-main">
    <section class="our-story">
        <h2>Our Story</h2>
        <p>Look in the mirror. Look at your eye. What’s the first thing you notice? It’s your pupil, isn’t it? Now what’s around your pupil? That ring of color? That’s your iris.</p>
        <p>Your iris can be brown, or blue, or green, or hazel. It can be gray, or it can be multicolored. The color is determined by the amount of melanin in your iris. But the color doesn’t change its function in any way. Your iris has two main jobs: light regulation (controlling the amount of light in your eye) and visual focus (what your vision focuses on).</p>
        <p>In bright light, your pupil shrinks to protect the retina, and in dim light, it widens to maximize available light. Your iris also works with the lens and ciliary muscles to focus on objects.</p>
        <p>Aside from your eye, an iris is also a flower.</p>
        <p>An iris flower can come in many different shapes, colors, and sizes. They can be blue or purple or small or large. Similarly, visual impairment, often just called “blindness,” is not a one-size-fits-all kinda thing. Some people can see vague outlines but no details, some can see if things are big enough, and some can’t see at all.</p>
        <p>My father has Retinitis Pigmentosa, which is a degenerative genetic eye disease that causes loss of vision over time. (Degenerative simply means that it deteriorates over time.) There is no cure and no real cause. My idea for Iris came from my father.</p>
        <p>It’s hard not being able to see, and he struggles with it every day. One thing I know is that filling out online forms is a big challenge. That’s where Iris comes in. Iris is a website that helps visually impaired people fill out their forms.</p>
        <p>There’s the part of your eye, and there’s the flower, but there’s one more thing my website is named for, and that is the Greek goddess, Iris. In Greek mythology, Iris is the goddess of rainbows, but she’s also a messenger of the Olympian gods. Think of my website like that. Iris is to the Olympians as the website is to you. The website is like a messenger to help you fill out your forms.</p>
        <p>I made this for my dad, so before I go, let me say this. <em>Iris is dedicated to Adam Rosenblatt.</em> I hope this website helps you fill out your forms, but more than that, I hope one day I can do more than help you fill out a form.</p>
        <p>
            Catch the light,<br>
            Gittel Rosenblatt &lt;3
        </p>
    </section>

    <section class="story-image">
        <img src="{{ url_for('static', filename='images/story-image.jpeg') }}" alt="Family picture">
    </section>
</main>

<footer>
    <div>
        <a id="back-to-top" href="#">↑</a>
    </div> 

    <div class="footer-text">
        <div class="copyright">
            <p>&copy; 2026 Iris. All Rights Reserved.</p>
        </div>

        <nav class="footer-nav">
            <a href="{{ url_for('terms') }}">
                <span class="long-text">Terms of Service</span>
                <span class="short-text">Terms</span>
            </a>
            <a href="{{ url_for('privacy') }}">
                <span class="long-text">Privacy Policy</span>
                <span class="short-text">Privacy</span>
            </a>
            <a href="{{ url_for('contact') }}">
                <span class="long-text">Contact us & FAQs</span>
                <span class="short-text">Contact</span>
            </a>
            <a href="{{ url_for('story') }}">
                <span class="long-text">Our story</span>
                <span class="short-text">Story</span>  
            </a>
        </nav>
    </div>
</footer>
    
</body>
</html>