<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Iris - Dashboard</title>

    <!--Bootstrap CSS File-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">

    <!--Personal CSS Files-->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/global.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/workspace.css') }}"> 
    
    <!--Bootstrap JS File-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous" defer></script>

    <!--Personal JS Files-->
    <script src="{{ url_for('static', filename='js/global.js') }}" defer></script>
    <script src="{{ url_for('static', filename='js/workspace.js') }}" defer></script>
    <script src="{{ url_for('static', filename='js/timeout.js') }}" defer></script>
</head>
<body>
    
<header class="account-header">
    <div class="account-header-left">
        <a href="{{ url_for('home') }}">
            <img class="iris-logo" src="../static/images/iris-circle-icon.png" alt="iris logo"> <!--{{ url_for('static', filename='images/iris-circle-icon.png') }}-->
        </a>
        <h1 class="brand-name">Iris</h1>
    </div>

    <nav class="account-header-nav">
        <div class="profile-section">
            <button type="button" class="btn-tts">Listen 🔊</button>
            <button class="profile-trigger" id="profileTrigger" aria-haspopup="true" aria-expanded="false">
                <p>{{ user.username }}</p>
                <img src="{{ url_for('static', filename='images/avatars/' ~ (user.avatar or 'pfp-iris-purple.png')) }}" alt="User's profile picture">
            </button>
        </div>

        <div class="dropdown-menu" id="dropdownMenu">
            <ul>
                <li><a href="{{ url_for('profile') }}">Profile</a></li>
                <li><a href="{{ url_for('dashboard') }}">Dashboard</a></li>
                <hr class="dropdown-hr"> 
                <li><a href="{{ url_for('logout') }}" class="logout-link">Log Out</a></li>
                <hr class="dropdown-hr">
                <li><a href="{{ url_for('terms') }}">Terms</a></li>
                <li><a href="{{ url_for('terms') }}">Privacy</a></li>
            </ul>
        </div>
    </nav>
</header>

<main class="workspace-main">

    <div aria-labelledby="modalTitleText" data-bs-backdrop="static" data-bs-keyboard="false" aria-describedby="modalBodyText" class="modal fade" id="logoutWarningModal" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
            
            <div class="modal-header">
                <h3 id="modalTitleText" class="modal-title">Session Expiring</h3>
            </div>
            
            <div id="modalBodyText" class="modal-body">
                <span id="accessible-countdown" class="visually-hidden" aria-live="polite"></span>
                You will be logged out automatically <span id="countdown" class="countdown"></span> due to inactivity.
            </div>
            
            <div class="modal-footer">
                <button type="button" id="button" class="btn btn-secondary" data-bs-dismiss="modal">Stay Logged In</button>
            </div>

            </div>
        </div>
    </div>

    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <div class="flash-messages">
            {% for category, message in messages %}
                <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
                    {{ message }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% endfor %}
            </div>
        {% endif %}
    {% endwith %}

    <div class="workspace-content">
        <div class="workspace-header">
            <a href="{{ url_for('dashboard') }}" class="btn back-button">← Back to Dashboard</a>
            <div class="project-title" id="focus" tabindex="-1">
                <h2><strong>Project:</strong> {{ document.filename }}</h2>
            </div>
            <select id="question-jump-select">
                {% for field in fields %}
                    <option value="{{ loop.index0 }}">
                    {{ loop.index }}. {{ field.field_label | truncate(30) }}
                    </option>
                {% endfor %}
            </select>
        </div>
        
        <section class="progress-bar">
            <div class="progress-label">
                <span>Progress: </span>
                <span class="progress-percent" id="progressPercent">0%</span>
            </div>

            <div class="progress-track">
                <div class="progress-fill" id="progressFill"></div>
            </div>
        </section>

        <div class="question-section">
            {% for field in fields %}
                <section class="question-container question-card {% if loop.first %}active{% endif %}">
                    <div class="question-number">
                        <h3>Question {{ loop.index }} of {{ fields | length }}</h3>
                        <h3>{% if field.field_required %}Reccommended{% else %}Optional{% endif %}</h3>
                    </div>

                    <p>{{ field.field_label }}</p>
                    
                    <div class="form-group">
                        {% if field.field_type == 'checkbox' %}
                            <input 
                                type="checkbox" 
                                id="answer-{{ loop.index }}" 
                                name="answer-{{ loop.index }}"
                                {% if field.field_answer %}checked{% endif %}
                            >
                        {% elif field.field_type == 'date' %}
                            <input 
                                type="date" 
                                id="answer-{{ loop.index }}" 
                                name="answer-{{ loop.index }}" 
                                value="{{ field.field_answer or '' }}"
                            >
                        {% else %}
                            {% if field.field_options %}
                                {% for option in field.field_options %}
                                    <input
                                        type="radio" 
                                        id="answer-{{ loop.index }}-option-{{ loop.index0 }}" 
                                        name="answer-{{ loop.index }}" 
                                        value="{{ option }}"
                                        {% if field.field_answer == option %}checked{% endif %}
                                    >
                                    <label for="answer-{{ loop.index }}-option-{{ loop.index0 }}">{{ option }}</label><br>
                                {% endfor %}
                            {% else %}
                                <input 
                                    type="text" 
                                    id="answer-{{ loop.index }}" 
                                    name="answer-{{ loop.index }}" 
                                    placeholder="Your answer" 
                                    value="{{ field.field_answer or '' }}"
                                >
                            {% endif %}
                        {% endif %}
                    </div>
                </section>
            {% endfor %}

            <section class="nav-buttons">
                <button type="button" class="btn prev-btn" id="prev-question">Previous</button>
                <button type="button" class="btn next-btn" id="next-question">Next</button>
            </section>
        </div>
    </div>
</main>

</body>
</html>